<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'forms/style.css' %}">
    <title>Home page</title>
</head>
<body class="bg-white dark:bg-gray-900">
<nav class="border-solid border-gray-200">
    <!-- Links -->
    <div class="flex flex-wrap justify-start items-stretch bg-sky-100 dark:bg-sky-900">
        <div class="px-4 bg-stone-200 hover:bg-blue-800">
            <a href="{% url 'index' %}" class="text-xl text-gray-500">Home</a>
        </div>
        <div class="px-4 bg-stone-400 hover:bg-blue-800">
            <a href="{% url 'forms:report' %}" class="text-lg text-gray-500">Form</a>
        </div>

    </div>
</nav>
    <h1 class="text-black dark:text-stone-100 text-3xl py-25">Welcome to django-forms demo</h1>
</body>
</html>